body {
  background: #87CEEB;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

input {
  width: 90%;
  padding: 8px;
}

button {
  padding: 8px 15px;
  cursor: pointer;
}
